<div class="question-page" *ngIf="question">

    <div class="question-block">

        <h2 class="question-title">
            {{ question.title }}
        </h2>

        <div class="question-meta">
            Asked by
            <a class="username">
        {{ user?.email }}
      </a> • {{ question.created_at | date:'dd MMM yyyy HH:mm' }}
        </div>

        <div class="question-body">
            {{ question.description }}
        </div>

        <div class="meta-info">

            <div>
                <span *ngFor="let tag of tagsForQuestion">

          <a class="tag" [routerLink]="['/tags', tag.slug]">
            🏷️ {{ tag.name }}
          </a>

        </span>
            </div>

        </div>

    </div>


    <!-- COMMENTS -->

    <div class="answer-block" *ngFor="let comment of comments">

        <div class="answer-body">
            {{ comment.text }}
        </div>


    </div>

    <div class="add-comment" *ngIf="question">

        <h3>Leave a comment</h3>

        <textarea [(ngModel)]="commentText" [ngModelOptions]="{ standalone: true }" placeholder="Write your comment..." rows="4" [disabled]="!isAuthenticated">
    </textarea>

        <br>

        <button (click)="postComment()" class="btn btn-primary" [disabled]="!isAuthenticated">
        Post Comment
        </button>

        <p *ngIf="!isAuthenticated" style="color: gray;">
            You must be logged in to leave a comment
        </p>

    </div>