# Django / Python
*.pyc
__pycache__/
venv/
uldar_net/settings/env/
uldar_net/settings/env
uldar_net/settings/.env
uldar_net/settings/.env.example

# Logs
uldar_net/logs/

# Docs
uldar_net/docs/

# SQL
uldar_net/db.sqlite3

# Angular
UldarFront/UldarFront/node_modules/
UldarFront/UldarFront/.angular/
UldarFront/UldarFront/dist/


# OS files
.DS_Store
Thumbs.db