SECRET_KEY=your-secret-key
DEBUG=TRUE
DB_NAME=your_db_name
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=pgdb
DB_PORT=5432
JWT_SECRET_SECRET_KEY=your-jwt-secret
ULDAR_NET_ENV_ID=local
ULDAR_NET_SECRET_KEY=your-django-secret-key
ULDAR_NET_REDIS_HOST=redis
ULDAR_NET_REDIS_PORT=6379
CELERY_ULDAR_NET_REDIS_DB=1
CELERY_TASK_TIME_LIMIT=1800
ULDAR_NET_CHANNELS_REDIS_HOST=redis
ULDAR_NET_CHANNELS_REDIS_PORT=6379