<div *ngIf="user" class="user-profile-container">
    <button backButton class="btn btn-outline-primary mb-3">← Back</button>

    <div class="profile-card shadow">

        <h4 class="name">{{ user.first_name }} {{ user.second_name }}</h4>
        <p class="email">{{ user.email }}</p>

        <div *ngIf="usernameFromToken === user.email">
            <a [routerLink]="'/users/' + user.email + '/change_password'" class="btn btn-primary mt-3">
        Change password
      </a>
        </div>
    </div>
</div>